<div class="header is-wraper">
  <div class="grid at-left">
    <h1 class="typography is-title">Estou a esquerda</h1>
  </div>
  <div class="grid at-right">
     <h1 class="typography is-title">Oi pexual</h1>
  </div>
</div>
